<style>
    .zui-table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
    }
    .zui-table thead th {
        background-color: #DDEFEF;
        border: solid 1px #DDEEEE;
        color: black;
        padding: 10px;
        text-align: left;
        text-shadow: 1px 1px 1px #fff;
    }
    .zui-table tbody td {
        border: solid 1px #DDEEEE;
        color: black;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
    }
    tr:nth-child(even) {
        background-color: #9fb0fa;
    }
</style>
<div>
    <table class="zui-table">
        <tr>
            <th> Title </th>
            <th> Category </th>
            <th> Description </th>
            <th> Deadline </th>
            <th> Work period </th>
            <th> Estimated Duration </th>
        </tr>
        <% for (const row of res) {%>
            <tr class="colums">
                <td><%= row.Title %></td>
                <td><%= row.Category %></td>
                <td><%= row.Description %></td>
                <td><%= row.end %></td>
                <td><%= row.WTstart + " to " + row.WTend %></td>
                <td><%= row.EstimatedDuration %></td>
            </tr>
        <% }; %>
    </table>